---

# Debian needs extra packages. GitHub runner installer depenency installer fails.
- ansible.builtin.include_tasks: setup-Debian.yml
  when: ansible_facts.os_family == 'Debian'

# See Your repo > Settings > Actions > Runner > New Runner
- name: Download the github-runner-installer script.
  get_url:
    url: "{{ operations_github_runner_install_script}}"
    dest: /usr/local/bin/github-runner-installer
    mode: 0755

- name: Download the dependency Installer
  get_url:
    url: "{{ operations_github_runner_dependencies_script}}"
    dest: /tmp/install-github-runner-dependencies
    mode: 0755

- name: Install dependencies
  command: /tmp/install-github-runner-dependencies

- name: Update apt cache (Debian).
  apt: update_cache=true cache_valid_time=86400
  when: ansible_os_family == 'Debian'

- name: Ensure jq is installed.
  package:
    name: "{{ operations_runner_extra_packages }}"
    state: present

- name: Configure GitHub Runners
  include_tasks: github.yml
  with_items: "{{ operations_github_runners }}"
