# For testing and development.

---
services:
  operations:
    image: geerlingguy/docker-${DISTRO:-rockylinux10}-ansible:latest
    cgroup: host
    cgroup_parent: docker.slice
    privileged: true
    volumes:
      - ./:/usr/share/operations
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
      - ./ansible:/etc/ansible
    environment:
      - OPERATIONS_PLATFORM=yes
    env_file:
      - .env
    build: ./
