#
# Use a host_vars file to save server-specific variables.
# Copy this file to one named after the server FQDN.

# Add users. For each 'operations_admin_users':
# - Create a system user with sudo privileges.
# - Add all of the users's Github SSH keys to authorized_keys.
#
# WARNING: Change this, unless you want to give me access to your server.
#
operations_admin_users:
  - jonpugh

operations_github_api_token: DefaultApiToken
operations_github_runners:
  - repo_name: jonpugh/operations

    # Default base URL is github.com. Change if using enterprise GitHub.
    # repo_host: https://github.com

    # Default user to install the runner on is "platform". Rename if desired. You are responsible for creating any additional users.
    # runner_user: platform

    # Default runner name is ansible inventory hostname. Rename if desired.
    # runner_name: "{{ inventory_hostname }}"

    # Default token to create the runner is operations_github_api_token variable. Set a runner-specific api_token, if desired.
    # api_token: "{{ operations_github_api_token }}"

    # Default runner_labels are inventory_hostname,operations-platform/site-server. Change here, if desired.
    # runner_labels: "example,local,dev,operations,{{ inventory_hostname }}"

