---

# Added this because ddev setup failed, saying "unable to read global config: stat /home/runner/.config/ddev/global_config.yaml: permission denied"
# https://github.com/operations-project/site-runner-example-app/actions/runs/20193052232
# I think the ddev install script, running as root, creates this directory, so the platform user can't write to it.
- name: Create Platform ddev config directory
  file:
    state: directory
    path: "{{ operations_platform_home }}/.config/ddev"
    group: "{{ operations_platform_user }}"
    owner: "{{ operations_platform_user }}"

- name: Install ddev
  shell: "curl -fsSL https://ddev.com/install.sh | bash"
  become: true
  become_user: "{{ operations_control_user }}"

- name: Ensure bin is in all paths.
  shell: ln -sf /usr/local/bin/ddev /usr/bin/ddev

- name: Confirm ddev install
  command: ddev version
  args:
    chdir:  "{{ operations_platform_home }}"
  become: true
  become_user: "{{ operations_platform_user }}"

# See https://ddev.readthedocs.io/en/latest/users/topics/hosting/
- name: Configure ddev for hosting
  command: "{{ operations_ddev_config_hosting_command }}"
  args:
    chdir:  "{{ operations_platform_home }}"
  become: true
  become_user: "{{ operations_platform_user }}"

- name: Install DDEV service unit file
  template:
    src: "ddev.service.j2"
    dest: "{{ operations_ddev_service_file_path }}"
    owner: root
    group: root
    mode: 0644
  notify:
    - Reload systemd
    - Reload ddev service
