---
- name: Install ddev
  shell: |
    curl -fsSL https://ddev.com/install.sh | bash
    which ddev
    ls -la /usr/local/bin
  become: true
  become_user: "{{ operations_control_user }}"

# @TODO: Not sure but the PATH is sometimes not set correctly.
- name: Add PATH to ddev.
  copy:
    dest: /etc/profile.d/site-runner-path.sh
    content: 'export PATH=$PATH:{{ operations_ddev_path }}'
    mode: 0644

- name: Confirm ddev install
  command: ddev version
  args:
    chdir:  "{{ operations_platform_home }}"
  become: true
  become_user: "{{ operations_platform_user }}"

# See https://ddev.readthedocs.io/en/latest/users/topics/hosting/
- name: Configure ddev for hosting
  command: "{{ operations_ddev_config_hosting_command }}"
  environment:
    PATH: "/usr/local/bin:/usr/local/sbin:{{ ansible_env.PATH }}"
  args:
    chdir:  "{{ operations_platform_home }}"
  become: true
  become_user: "{{ operations_platform_user }}"

- name: Install DDEV service unit file
  template:
    src: "ddev.service.j2"
    dest: "{{ operations_ddev_service_file_path }}"
    owner: root
    group: root
    mode: 0644
  notify:
    - Reload systemd
    - Reload ddev service
