---
- name: Install ddev
  shell: "curl -fsSL https://ddev.com/install.sh | bash"
  become: true
  become_user: "{{ operations_control_user }}"

- name: Ensure bin is in all paths.
  shell: ln -sf /usr/local/bin/ddev /usr/bin/ddev

- name: Confirm ddev install
  command: /usr/local/bin/ddev version
  args:
    chdir:  "{{ operations_platform_home }}"
  become: true
  become_user: "{{ operations_platform_user }}"

# See https://ddev.readthedocs.io/en/latest/users/topics/hosting/
- name: Configure ddev for hosting
  command: "{{ operations_ddev_config_hosting_command }}"
  args:
    chdir:  "{{ operations_platform_home }}"
  become: true
  become_user: "{{ operations_platform_user }}"

- name: Install DDEV service unit file
  template:
    src: "ddev.service.j2"
    dest: "{{ operations_ddev_service_file_path }}"
    owner: root
    group: root
    mode: 0644
  notify:
    - Reload systemd
    - Reload ddev service
